@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    /*background: rgba(0,0,0,.1)*/
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Mulish", sans-serif;
    margin: 0;
}

section {
    display: flex;
    padding-top: 5vh;
    height: 96vh;
    margin: 0 10em;
    box-sizing: border-box;
    min-height: fit-content;
}

/* NAVIGATION BAR */

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.logo {
    font-size: 2em;
}

.logo:hover {
    cursor: default;
}

.nav-links {
    gap: 2em;
    list-style: none;
    font-size: 1.5em
}

li:hover {
    cursor: default;
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1em;
    text-decoration-color: rgb(107, 107, 107);
}

a {
    color: black;
    text-decoration: none;
}


/* PROFILE SECTION */

.intro {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 55%;
    margin: auto;
}

.intro-info {
    font-size: 1.7em;
    line-height: 2em;
}

.intro-info h3, p {
    text-align: center;
    color: rgb(65, 65, 65);
}

.intro-info h1 {
    text-align: center;
}

.button {
    display: inline-flex;
    height: 50px;
    padding: 0px;
    margin-right: 15px;
    margin-left: 0px;
    background: #467559;
    border: none;
    outline: none;
    border-radius: 8px;
    overflow: hidden;
    font-family: 'Mulish', sans-serif;
    font-size: 0.7em;
    font-weight: 500;
    cursor: pointer;
}

.button:hover {
    background: #39644b;
}

.button:active {
    background: #254935;
}

.button__text, .button__icon {
    display: inline-flex;
    align-items: center;
    padding: 0px 10px;
    color: #ffffff;
    height: 100%;
}

.button__text{
    width: 80px;
}

.button__icon {
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.08);
}

.intro img{
    height: 270px;
}


/* ABOUT SECTION */

#about {
    display: block;
    font-family: "Mulish", sans-serif;
}

.title {
    text-align: center;
    font-size: 2.5em;
}

.container {
    display: flex;
    justify-content: center;
}

.card {
    border-style: solid;
    border-color: #3e4939;
    border-width: 1px;
    width: 300px;
    height: 200px;
    margin: 50px;
    border-radius: 30px;
    font-size: 1.2em;
    text-align: justify;
}

.icon {
    display: block;
    margin: 10px auto;
    padding: 10px;
}

.card h3 {
    padding: 10px 15px;
    text-align: center;
}

.card p {
    padding: 5px 15px;
}

.icon-arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.about-text p {
    font-size: 1.2em;
    text-align: justify;
    padding: 10px 130px;
}


/* SKILLS SECTION */

#skills {
    display: block;
    font-family: "Mulish", sans-serif;
}

.skills-box {
    border-style: solid;
    border-color: #3e4939;
    border-width: 1px;
    width: 350px;
    height: 450px;
    margin: 50px;
    border-radius: 30px;
    font-size: 1.2em;
    text-align: justify;
}

.skills-box img {
    margin: auto;
    margin-top: 10px;
}

.skills-box h3 {
    padding: 10px 15px;
    text-align: center;
}

.skill p {
    text-align: justify;
    padding-left: 50px;
}

.skill-name {
    font-weight: bold;
}

.skill-lvl {
    font-size: 0.9em;
    margin-bottom: 15px;
    margin-left: 15px;
}

/* PROJECTS SECTION */

#projects {
    display: block;
    font-family: "Mulish", sans-serif;
}

.project-text p {
    font-size: 1.2em;
    text-align: justify;
    padding: 50px 130px 30px 130px;
}
.projects-box {
    border-style: solid;
    border-color: #3e4939;
    border-width: 1px;
    width: 350px;
    height: 540px;
    margin: 0px 50px;
    border-radius: 30px;
    font-size: 1.2em;
    text-align: justify;
}

.projects-box img {
    display: block;
    margin: 25px auto 15px;
    border-radius: 30px;
}

.projects-box h3 {
    text-align: center;
}

.projects-box p {
    text-align: justify;
    padding: 0px 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.projects-box a {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 110px;
}


/* CONTACT SECTION */

#contact {
    display: block;
    font-family: "Mulish", sans-serif;
}

.contact-box {
    display: flex;
    border-style: solid;
    border-color: #3e4939;
    border-width: 1px;
    width: 700px;
    height: 150px;
    margin: 20px 50px;
    border-radius: 30px;
    text-align: justify;
}

.contact {
    display: block;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
    margin: 0px auto;
}

.contact a {
    margin: 0px;
    padding: 0px;
}

.contact a:hover {
    cursor: default;
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1em;
    text-decoration-color: rgb(107, 107, 107);
}

.fa-brands, .fa-solid {
    font-size: 1.7em;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

