@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Mulish", sans-serif;
    margin: 0;
}

section {
    position: relative;
    display: flex;
    padding-top: 5vh;
    height: 96vh;
    box-sizing: border-box;
    min-height: fit-content;
}

.arrow {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 5rem;
    transition: 0.3s;
}

.arrow:hover {
    cursor: pointer;
    transform: scale(1.25);
}


/* NAVIGATION BAR + FOOTER*/

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}

.logo {
    font-size: 2em;
    font-weight: 500;
}

.logo:hover {
    cursor: default;
}

.nav-links {
    gap: 2em;
    list-style: none;
    font-size: 1.8em
}

a {
    color: black;
    text-decoration: none;
    transition: 0.7s;
}

a:hover {
    cursor: default;
    color: rgb(100, 100, 100);
    text-decoration: underline;
    text-underline-offset: 0.5em;
    text-decoration-color: rgb(110, 110, 110);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

footer p {
    margin-bottom: 30px;
}

@media (max-width: 768px) {

    .logo {
        font-size: 1.3em;
        font-weight: 500;
    }

    .nav-links {
        gap: 1.3em;
        font-size: 1.2em
    }

    footer p {
        font-size: 1em;
        margin-bottom: 20px;
    }
}

/* PROFILE SECTION */

#profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    height: 100vh;
    text-align: center;
    padding: 0px;
}

.intro-info {
    line-height: 2.5em;
}

.intro-info h3, p {
    font-size: 1.7em;
    color: rgb(50, 50, 50);
}

.intro-info h1 {
    font-size: 2em;
}

.intro-buttons {
    display: flex;
    justify-content: center;
}

.button {
    display: inline-flex;
    height: 50px;
    padding: 0px;
    margin: 15px 10px;
    background: #467559;
    border: none;
    outline: none;
    border-radius: 8px;
    overflow: hidden;
    font-family: 'Mulish', sans-serif;
    font-size: 0.7em;
    font-weight: 500;
    cursor: pointer;
}

.button:hover {
    background: #39644b;
}

.button:active {
    background: #254935;
}

.button__text, .button__icon {
    font-size: 1.7em;
    display: inline-flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    height: 100%;
}

.button__text {
    padding-left: 15px;
    padding-right: 5px;
}

.button__icon {
    padding-left: 10px;
    padding-right: 10px;
}

.button__text{
    width: 80px;
}

.button__icon {
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.2);
}

.profile-arrow{
    margin-top: 35vh;
}

.profile-arrow:hover {
    cursor: pointer;
    transform: scale(1.25);
}

@media (max-width: 768px) {

    .intro-info {
        line-height: 1.8em;
    }

    .intro-info h3, p {
        font-size: 1.5em;
    }

    .intro-info h1 {
        font-size: 1.7em;
    }

    .intro-buttons {
        flex-direction: column;
        margin-top: 5px;
        align-items: center;   
    }

    .button {
        height: 35px;
        width: 140px;
        margin: 7px;
        background: #467559;
        border: none;
        outline: none;
        border-radius: 8px;
        overflow: hidden;
        font-family: 'Mulish', sans-serif;
        font-size: 0.7em;
        font-weight: 500;
        cursor: pointer;
    }

    .button__text, .button__icon {
        font-size: 1.5em;
        display: inline-flex;
        align-items: center;
        text-align: center;
        color: #ffffff;
        height: 100%;
    }
    
    .button__text {
        padding-left: 15px;
    }
    
    .button__icon {
        padding-left: 12px;
        padding-right: 12px;
    }
    
    .button__icon {
        font-size: 1.7em;
        background-color: rgba(0, 0, 0, 0.2);
    }

}


/* ABOUT SECTION */

#about {
    display: flex;
    flex-direction: column;
    font-family: "Mulish", sans-serif;
}

.title {
    text-align: center;
    font-size: 2.5em;
}

.container-about {
    display: flex;
    justify-content: center;
}

.card {
    border-style: solid;
    border-color: #3e4939;
    border-width: 1px;
    width: 270px;
    height: 180px;
    margin: 50px 30px;
    border-radius: 30px;
    font-size: 1.2em;
    text-align: justify;
}

.icon {
    display: flex;
    margin: 30px auto 0px;
    padding: 0px;
}

.card h3 {
    font-size: 1.2em;
    padding: 10px 15px;
    text-align: center;
}

.card p {
    font-size: 1.2em;
    text-align: center;
    padding: 5px 15px;
}

.about-text p {
    font-size: 1.2em;
    text-align: justify;
    padding: 5px 200px;
}

@media (max-width: 768px) {
    
    .title {
        text-align: center;
        font-size: 1.7em;
    }

    .container-about {
        flex-direction: line;
        align-items: center;
    }

    .card-title {
        display: flex;
        flex-direction: line;
        justify-content: center;
        padding-top: 5px;
        padding-left: 13px;
    }

    .card-title img {
        height: 1.7rem;
        margin: 0px;
        padding-top: 5px;
    }

    .container-about h3 {
        font-size: 1rem;
    }

    .container-about p {
        font-size: 1rem;
        padding: 0px;     
    }

    .card {
        width: 170px;
        height: 80px;
        border-radius: 20px;
        margin: 20px 10px 10px;
        text-align: justify;
    }

    .icon {
        width: 1.5rem;
        display: block;
        margin: 12px auto 0px;
        padding: 0px;
    }

    .about-text p {
        font-size: 1em;
        text-align: justify;
        padding: 5px 60px 0px;
    }
}

/* SKILLS SECTION */

#skills {
    display: flex;
    flex-direction: column;
    font-family: "Mulish", sans-serif;
}

.container-skills {
    display: flex;
    justify-content: center;
}

.skills-card {
    border-style: solid;
    border-color: #3e4939;
    border-width: 1px;
    width: 300px;
    height: 270px;
    margin: 50px 30px;
    border-radius: 30px;
    text-align: justify;
}

.skills-card img {
    margin: 30px 135px 0px 135px;
}

.skills-card h3 {
    font-size: 1.5em;
    text-align: center;
    padding: 10px 15px;
}

.skills-card p {
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: justify;
    padding-left: 50px;
}

@media (max-width: 768px) {

    .container-skills {
        flex-direction: column;
    }

    .skills-card {
        border-style: solid;
        border-color: #3e4939;
        border-width: 1px;
        width: 230px;
        height: 150px;
        margin: auto;
        margin-top: 15px;
        border-radius: 20px;
        font-size: 1em;
        text-align: justify;
    }

    .skills-card-title {
        display: flex;
        flex-direction: line;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .skills-card-title img {
        height: 2rem;
        margin: 0px;
        padding-left: 10px;
    }

    .skills-card h3 {
        font-size: 1rem;
        text-align: center;
        padding-top: 5px;
    }
    
    .skills-card p {
        font-size: 1rem;
        line-height: 1.2rem;
        text-align: justify;
        padding-left: 30px;
    }
}

/* PROJECTS SECTION */

#projects {
    display: flex;
    flex-direction: column;
    font-family: "Mulish", sans-serif;
}

.container-projects {
    display: flex;
    flex-direction: line;
    justify-content: center;
}

.project-text p {
    font-size: 1.2em;
    text-align: justify;
    padding: 50px 130px 0px;
}

.projects-card {
    border-style: solid;
    border-color: #3e4939;
    border-width: 1px;
    width: 350px;
    height: 465px;
    margin: 30px;
    border-radius: 30px;
    font-size: 1.2em;
    text-align: justify;
}

.projects-card img {
    display: block;
    margin: 25px auto 15px;
    border-radius: 30px;
}

.projects-card h3 {
    text-align: center;
}

.projects-card p {
    font-size: 1em;
    text-align: justify;
    padding: 0px 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.projects-card a {
    background: #467559;
    color: #ffffff;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 100px;
}

.projects-card a:hover {
    background: #39644b;
    cursor: pointer;
}

.projects-card a:active {
    background: #254935;
}

@media (max-width: 768px) {

    .project-text p {
        font-size: 1em;
        text-align: justify;
        padding: 5px 60px 0px;
    }

    .projects-card {
        width: 350px;
        height: 400px;
        margin: 20px;
        border-radius: 30px;
        text-align: justify;
    }

    .projects-card img {
        display: block;
        width: 40vw;
        margin: auto;
        border-radius: 30px 30px 0px 0px;
    }

    .projects-card h3 {
        font-size: 1rem;
        text-align: center;
        padding-top: 8px;
    }
    
    .projects-card p {
        font-size: 1rem;
        line-height: 1.2rem;
        text-align: justify;
        padding-left: 30px;
    }

    .projects-card a {
        width: 30px;
        font-size: 0.8em;
        border-radius: 30px;
        padding: 10px 10px;
        margin: 20px 47px;
    }
}


/* CONTACT SECTION */

#contact {
    display: flex;
    flex-direction: column;
    font-family: "Mulish", sans-serif;
}

.contact-text p {
    font-size: 1.2em;
    text-align: justify;
    padding: 5px 200px;
}

.container-contact {
    display: flex;
    flex-direction: line;
    justify-content: center;
}

.contact-box {
    display: flex;
    border-style: solid;
    border-color: #3e4939;
    border-width: 1px;
    width: 700px;
    height: 150px;
    margin: 50px;
    border-radius: 30px;
    text-align: justify;
}

.contact {
    display: block;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
    margin: 0px auto;
}

.contact a {
    margin: 0px;
    padding: 0px;
}

.fa-brands, .fa-solid {
    font-size: 1.7em;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

@media (max-width: 768px) {

    .contact-text p {
        font-size: 1em;
        text-align: justify;
        padding: 5px 60px 0px;
    }

    .contact-box {
        width: 360px;
        height: 120px;
        margin: 30px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 120px;
        font-size: 1em;
    }

    .fa-brands, .fa-solid {
        font-size: 1.3em;
        margin-bottom: 5px;
    }
    

/* UNDER CONSTRUCTION PAGES */

.construction-img {
    display: flex;
    margin: 50px auto;
}

.construction-text {
    text-align: center;
}

.construction-text h2 {
    margin-top: 30px;
    margin-bottom: 50px;
}